@inherits LayoutComponentBase
<script src="blazorCulture.js"></script>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>

    <!-- Footer -->
    <section class="container-fluid bg-black ">
        <footer class="container-md custom-pad py-3 d-flex flex-wrap justify-content-between align-items-center" style="color: white;">
          <span class="mb-md-0">Copyright 2024 by LogiKCo. All Rights Reserved.</span>
          <ul class="d-flex nav justify-content-end list-unstyled">
            <li><a href="/policy" class="text-light">Privacy Policy</a></li>
          </ul>
        </footer>
    </section>
</div>