<!-- Nav -->
<div class="container-fluid custom-pad">
    <nav class="navbar navbar-expand-lg bg-white fixed-top" style="border-bottom: 1px solid #eee;">
        <section class="container-md custom-pad gap-3">
            <a class="navbar-brand" href="/"><img src="./assets/logikco logo.png" alt="" height="32"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-center" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="skillsandservices">Skills & Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="solutions">Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="techFeed">Tech Feed</a>
                </li>
                <a type="button" class="nav-login btn btn-secondary text-light" target="_blank" href="contact">Contact us</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined me-1">language</span>
                        Language
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">繁體中文</a></li>
                        <li><a class="dropdown-item" href="#">EN-US</a></li>
                    
                    </ul>
                    </li>
                </ul>
            </div>  
        </section>    
    </nav>
</div>

