@page "/about"
<PageTitle>About</PageTitle>

    <!-- Header -->
    <section class="container-fluid header" >
        <h4>ABOUT</h4>
    </section>

    <!-- Philosophy -->
    <section class="container-md py-5 custom-pad">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col"><img src="/assets/logikco logo.png" alt="" style="height: 5rem;"></div>
            <div  class="col">
                <h4>Our Philosophy</h4>
                <p>
                    At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority.
                </p>
            </div>
        </div>
    </section>

    <!-- Certificate -->
    <div style="background-color: #F5F5F5;">
        <section class="container-md py-5 custom-pad">
            <h4>Certificate & Parners</h4>
            <div class="row row-cols-2 row-cols-lg-4">
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
            </div>
        </section>
    </div>

    <!-- Content -->
    <section class="container-md py-5 custom-pad d-flex flex-column" style="gap: 50px;">
        <div class="row row-cols-1 row-cols-lg-2 flex-wrap-reverse">
            <div class="col">
                <img src="https://picsum.photos/200" alt="">
            </div>
            <div class="col">
                <h4>TECHNOLOGY TRANSFORM</h4>
                <p>
                    At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority.
                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <h4>GOOD DESIGN MATTERS</h4>
                <p>
                    At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority.
                </p>
            </div>
            <div class="col">
                <img src="https://picsum.photos/200" alt="">
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 flex-wrap-reverse">
            <div class="col">
                <img src="https://picsum.photos/200" alt="">
            </div>
            <div class="col">
                <h4>FROM ALGORITHM TO ZEBIBYTE</h4>
                <p>
                    At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority.
                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <h4>GOOD DESIGN MATTERS</h4>
                <p>
                    At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority.
                </p>
            </div>
            <div class="col">
                <img src="https://picsum.photos/200" alt="">
            </div>
        </div>
    </section>
