@page "/about"
<PageTitle>About</PageTitle>

    <!-- Header -->
    <section class="container-fluid header" >
        <h4>ABOUT</h4>
    </section>

    <!-- Philosophy -->
    <section class="container-md py-lg-5 py-4 py-3 custom-pad">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col pe-lg-4 d-flex justify-content-center align-items-center"><img src="/assets/logikco logo.png" alt="Logikco logo" style="width: 300px; height: 5rem;"></div>
            <div  class="col ps-lg-4">
                <h4>Our Philosophy</h4>
                <p>
                    At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority.
                </p>
            </div>
        </div>
    </section>

    <!-- Certificate -->
    <div style="background-color: #F5F5F5;">
        <section class="container-md py-lg-5 py-4 custom-pad">
            <h4>Certificate & Parners</h4>
            <div class="row row-cols-2 row-cols-lg-4">
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
            </div>
        </section>
    </div>

    <!-- Content -->
    <section class="container-md py-lg-5 py-4 custom-pad d-flex flex-column gap-lg-5 gap-4">
        <div class="row row-cols-1 row-cols-lg-2 flex-wrap-reverse">
            <div class="col pe-lg-4">
                <img src="https://picsum.photos/200" alt="">
            </div>
            <div class="col ps-lg-4 ">
                <h4>TECHNOLOGY TRANSFORM</h4>
                <p>
                    LogiKCo provides custom IT solutions.  We’re here to help businesses and organizations improve and excel.

                    Think Better.  Think Faster.  Think Stronger.  Think LogiKCo. <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority.
                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col pe-lg-4">
                <h4>GOOD DESIGN MATTERS</h4>
                <p>
                    LogiKCo’s IT team is here to help you develop a solution that works hard for your organization.  But good solutions need good design and great support.  Contact us today with any questions about existing or custom products.
                    <br/>
                    Think Innovative.  Think LogiKCo.
                </p>
            </div>
            <div class="col ps-lg-4">
                <img src="https://picsum.photos/200" alt="">
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 flex-wrap-reverse">
            <div class="col pe-lg-4">
                <img src="https://picsum.photos/200" alt="">
            </div>
            <div class="col ps-lg-4">
                <h4>FROM ALGORITHM TO ZEBIBYTE</h4>
                <p>
                    At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority.
                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col pe-lg-4">
                <h4>GOOD DESIGN MATTERS</h4>
                <p>
                    At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority.
                </p>
            </div>
            <div class="col ps-lg-4">
                <img src="https://picsum.photos/200" alt="">
            </div>
        </div>
    </section>

<style scoped>
    h4, h5{
            color: #102389 !important;
    }
</style>