@page "/policy"
@inject IJSRuntime JSRuntime

<PageTitle>Policy</PageTitle>

    <!-- Header -->
    <section class="container-fluid header flex-column" >
        <h4>PRIVACY STATEMENT</h4>
        <p style="margin-bottom: 0;">Last Updated: 10/01/2024</p>
    </section>
    
    <!-- Content -->
    <section class="container-md custom-article-pad mt-lg-5 mb-lg-5 mt-4 mb-4">
        <div>
            <h6>Table of Contents</h6>
            <ul>
                <li><a href="policy#01">Introduction</a></li>
                <li><a href="policy#02">Data Protection Officer</a></li>
                <li><a href="policy#03">How we collect and use (process) your personal information</a></li>
                <li><a href="policy#04">Use of the LOGIKCO.com website</a></li>
                <li><a href="policy#05">Cookies</a></li>
                <li><a href="policy#06">Use of the LOGIKCO services</a></li>
                <li><a href="policy#07">When and how we share information with third parties</a></li>
                <li><a href="policy#07">Transferring personal data to the U.S.</a></li>
                <li><a href="policy#08">Data Subject rights</a></li>
                <li><a href="policy#09">Security of your information</a></li>
                <li><a href="policy#10">Data storage and retention</a></li>
                <li><a href="policy#11">Questions, concerns, or complaints</a></li>
            </ul>
        </div>
        <div>
            <h6 id="01" class="anchor-section">1. Introduction</h6>
            <p>LOGIKCO LLC is an IT Solutions Provider and Integration Specialists. We understand that you are aware of and care about your own personal privacy interests, and we take that seriously. This Privacy Notice describes LOGIKCO’s policies and practices regarding its collection and use of your personal data and sets forth your privacy rights. We recognize that information privacy is an ongoing responsibility, and so we will, from time to time, update this Privacy Notice as we undertake new personal data practices or adopt new privacy policies.</p>
        </div>
        <div>
            <h6 id="02" class="anchor-section">2. Data Protection Officer</h6>
            <p>LOGIKCO is headquartered in East Hartford, CT, in the United States. LOGIKCO has appointed an internal data protection officer for you to contact if you have any questions or concerns about LOGIKCO’s personal data policies or practices. If you would like to exercise your privacy rights, please direct your query to LOGIKCO’s data protection officer. LOGIKCO’s data protection officer’s contact information are as follows:</p>
            <p>Data Protection Officer</p>
            <p>LOGIKCO</p>
            <p>330 Roberts Street Suite 102, East Hartford, CT 06108</p>
            <p>Email: Info@LOGIKCO.com</p>
            <p>Phone: 860.289.0728</p>
        </div>
        <div>
            <h6 id="03" class="anchor-section">3. How we collect and use (process) your personal information</h6>
            <p>LOGIKCO collects personal information about its website visitors and customers. With a few exceptions, this information is generally limited to:</p>
            <ul>
                <li>Name</li>
                <li>Company</li>
                <li>Email address</li>
                <li>Phone number</li>
            </ul>
            <p>We use this information to provide prospects and customers with services. We do not sell personal information to anyone and only share it with third parties who are facilitating the delivery of our services. From time to time, LOGIKCO receives personal information about individuals from third parties. Typically, information collected from third parties will include further details on your employer or industry. We may also collect your personal data from a third-party website (e.g., LinkedIn).</p>
        </div>
        <div>
            <h6 id="04" class="anchor-section">4. Use of the LOGIKCO Website</h6>
            <p>As is true of most other websites, LOGIKCO’s website collects certain information automatically and stores it in log files. The information may include internet protocol (IP) addresses, the region or general location where your computer or device is accessing the internet, browser type, operating system, and other usage information about the use of LOGIKCO’s website, including a history of the pages you view. We use this information to help us design our site to better suit our users’ needs. We may also use your IP address to help diagnose problems with our server and to administer our website, analyze trends, track visitor movements, and gather broad demographic information that assists us in identifying visitor preferences.</p>
            <p>LOGIKCO has a legitimate interest in understanding how members, customers, and potential customers use its website. This assists LOGIKCO with providing more relevant products and services, with communicating value to our sponsors and corporate members, and with providing appropriate staffing to meet member and customer needs.</p>
        </div>
        <div>
            <h6 id="05" class="anchor-section">5. Cookies</h6>
            <p>To better serve our users, we may use “cookies” to customize your browsing experience with us. Cookies are simple text files stored on your computer by your web browser. They provide a method of distinguishing among visitors to our website. Cookies created on your computer by using this website do not contain personally identifying information and do not compromise your privacy or security. We use the cookie feature only to store a randomly generated identifying tag on your computer. You can refuse the cookie or delete the cookie file from your computer by using any of the widely available methods. Our services are provided in such a way that the use of cookies is not mandatory.</p>
        </div>
        <div>
            <h6 id="06" class="anchor-section">6. Sharing information with third parties</h6>
            <p>The personal information LOGIKCO collects from you is stored in one or more databases hosted by third parties located in the United States. These third parties do not use or have access to your personal information for any purpose other than cloud storage and retrieval. On occasion, LOGIKCO engages third parties to send information to you, including information about our products, services, and events.</p>
            <p>We do not otherwise reveal your personal data to non-LOGIKCO persons or businesses for their independent use unless: (1) you request or authorize it; (2) it’s in connection with LOGIKCO-hosted and LOGIKCO co-sponsored conferences as described above; (3) the information is provided to comply with the law (for example, compelled by law enforcement to comply with a search warrant, subpoena, or court order), enforce an agreement we have with you, or to protect our rights, property, or safety or the rights, property, or safety of our employees or others; (4) the information is provided to our agents, vendors, or service providers who perform functions on our behalf; (5) to address emergencies or acts of God; or (6) to address disputes, claims, or to persons demonstrating legal authority to act on your behalf. We may also gather aggregated data about our services and website visitors and disclose the results of such aggregated (but not personally identifiable) information to our partners, service providers, advertisers, and/or other third parties for marketing or promotional purposes.</p>
            <p>The LOGIKCO website connects with third-party services such as Facebook, LinkedIn, Twitter, and others. If you choose to share information from the LOGIKCO website through these services, you should review the privacy policy of that service. If you are a member of a third-party service, the aforementioned connections may allow that service to connect your visit to our site to your personal data.</p>
        </div>
        <div>
            <h6 id="07" class="anchor-section">7. Transferring personal data to the U.S.</h6>
            <p>LOGIKCO has its headquarters in the United States. Information we collect about you will be processed in the United States. By using LOGIKCO’s services, you acknowledge that your personal information will be processed in the United States. The United States has not sought nor received a finding of “adequacy” from the European Union under Article 45 of the GDPR. Pursuant to Article 46 of the GDPR, LOGIKCO is providing for appropriate safeguards by entering binding standard data protection clauses enforceable by data subjects in the EEA and the UK. These clauses have been enhanced based on the guidance of the European Data Protection Board and will be updated when the new draft model clauses are approved.</p>
            <p>Depending on the circumstance, LOGIKCO also collects and transfers to the U.S. personal data with consent; to perform a contract with you; or to fulfill a compelling legitimate interest of LOGIKCO in a manner that does not outweigh your rights and freedoms. LOGIKCO endeavors to apply suitable safeguards to protect the privacy and security of your personal data and to use it only consistent with your relationship with LOGIKCO and the practices described in this Privacy Statement. LOGIKCO also enters into data processing agreements and model clauses with its vendors whenever feasible and appropriate. Since it was founded, LOGIKCO has received zero government requests for information.</p>
            <p>For more information or if you have any questions, please contact us at Info@LOGIKCO.com.</p>
        </div>
        <div>
            <h6 id="08" class="anchor-section">8. Data Subject rights</h6>
            <p>The European Union’s General Data Protection Regulation (GDPR) and other countries’ privacy laws provide certain rights for data subjects. Data Subject rights under GDPR include the following:</p>
            <ul>
                <li>Right to be informed</li>
                <li>Right of access</li>
                <li>Right to rectification</li>
                <li>Right to erasure</li>
                <li>Right to restrict processing</li>
                <li>Right of data portability</li>
                <li>Right to object</li>
                <li>Rights related to automated decision-making including profiling</li>
            </ul>
            <p>This Privacy Notice is intended to provide you with information about what personal data LOGIKCO collects about you and how it is used. If you wish to confirm that LOGIKCO is processing your personal data or to have access to the personal data LOGIKCO may have about you, please contact us.</p>
            <p>You may also request information about: the purpose of the processing; the categories of personal data concerned; who else outside LOGIKCO might have received the data from LOGIKCO; what the source of the information was (if you didn’t provide it directly to LOGIKCO); and how long it will be stored. You have a right to correct (rectify) the record of your personal data maintained by LOGIKCO if it is inaccurate. You may request that LOGIKCO erase that data or cease processing it, subject to certain exceptions. You may also request that LOGIKCO cease using your data for direct marketing purposes. In many countries, you have a right to lodge a complaint with the appropriate data protection authority if you have concerns about how LOGIKCO processes your personal data. When technically feasible, LOGIKCO will—at your request—provide your personal data to you.</p>
            <p>Reasonable access to your personal data will be provided at no cost. If access cannot be provided within a reasonable time frame, LOGIKCO will provide you with a date when the information will be provided. If for some reason access is denied, LOGIKCO will provide an explanation as to why access has been denied.</p>
            <p>For questions or complaints concerning the processing of your personal data, you can email us at <a href= "mailto: Info@LOGIKCO.com"> Info@LOGIKCO.com </a> Alternatively, if you are located in the European Union, you can also have recourse to the European Data Protection Supervisor or with your nation’s data protection authority.</p>
        </div>
        <div>
            <h6 id="09" class="anchor-section">9. Data storage and retention</h6>
            <p>Your personal data is stored by LOGIKCO on its servers and on the servers of the cloud-based database management services that LOGIKCO engages, located in the United States. LOGIKCO retains service data for the duration of the customer’s business relationship with LOGIKCO and for a period of time thereafter to analyze the data for LOGIKCO’s own operations and for historical and archiving purposes associated with LOGIKCO’s services. LOGIKCO retains prospect data until such time as it no longer has business value and is purged from LOGIKCO systems. All personal data that LOGIKCO controls may be deleted upon verified request from Data Subjects or their authorized agents. For more information on where and how long your personal data is stored and for more information on your rights of erasure and portability, please contact us at: Info@LOGIKCO.com.</p>
        </div>
        <div>
            <h6 id="10" class="anchor-section">10. Children’s data</h6>
            <p>We do not knowingly attempt to solicit or receive information from children.</p>
        </div>
        <div>
            <h6 id="11" class="anchor-section">11. Questions, concerns, or complaints</h6>
            <p>If you have questions, concerns, complaints, or would like to exercise your rights, please contact us at:</p>
            <p>LOGIKCO</p>
            <p>Data Protection Officer</p>
            <p>330 Roberts Street Suite 102, East Hartford, CT 06108</p>
            <p>Email: <a href= "mailto: info@logikco.com"> info@logikco.com </a></p>
            <p>Phone: 860.289.0728</p>
        </div>
        <div>
            <p>Effective Date: October 1, 2024</p>
        </div>
    </section>

   <style scoped>
        h6{
            color: #102389;
        };
        
        .anchor-section {
        position: relative;
        }

        .anchor-section::before {
            content: '';
            display: block;
            height: 80px; /* 60px (導航欄高度) + 30px (額外偏移) */
            margin-top: -80px;
            visibility: hidden;
            pointer-events: none;
        }

   </style>