@page "/policy"

<PageTitle>Policy</PageTitle>

    <!-- Header -->
    <section class="container-fluid header flex-column" >
        <h4>PRIVACY POLICY</h4>
        <p style="margin-bottom: 0;">Last Updated: 11/11/2023</p>
    </section>
    
    <!-- Content -->
    <section class="container-md custom-article-pad mt-lg-5 mb-lg-5 mt-4 mb-4">
        <div>
            <h6>1. Introduction</h6>
            <p>We value your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website or use our services.</p>
        </div>
        <div>
            <h6>2. Information We Collect</h6>
            <p>Personal Information: We may collect personally identifiable information such as your name, email address, phone number, and other contact details when you voluntarily provide it to us.
                Usage Data: We collect information automatically when you use our website, including your IP address, browser type, operating system, and pages visited.</p>
        </div>
        <div>
            <h6>3. How We Use Your Information</h6>
            We may use the information we collect for various purposes, including:
            <ul>
                <li>To provide, operate, and maintain our services.</li>
                <li>To improve, personalize, and expand our website.</li>
                <li>To communicate with you, including sending you updates, promotional materials, or customer service.</li>
                <li>To process your transactions and manage your orders.</li>
                <li>To monitor and analyze trends, usage, and activities in connection with our website.</li>
                <li>To comply with legal obligations.</li>
            </ul>
        </div>
    </section>
   