@page "/skillsandservices"
<PageTitle>Skills & Services</PageTitle>

    <!-- Header -->
    <section class="container-fluid header" >
        <h4>Skills & Services</h4>
    </section>

    <!-- Service -->
    <div style="background-color: #F5F5F5;">
        <section class="container-md py-5 custom-pad services">
            <h4 class="text-primary">Our service</h4>
            <p>
                It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. We’re using technology to help individuals and organizations exceed expectations. So set your bar high. Think LogiKCo.
            </p>
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="custom-card bg-white p-4">
                        <span class="material-symbols-outlined icon">
                            cell_merge
                        </span>
                        <span>
                            <h6 class="text-primary">System Integration Services</h6>
                            <p>Setting A New Standard
                            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. </p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card bg-white p-4">
                        <span class="material-symbols-outlined icon">
                            instant_mix
                        </span>
                        <span>
                            <h6 class="text-primary">Customized Software Development</h6>
                            <p>Setting A New Standard
                            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. </p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card bg-white p-4">
                        <span class="material-symbols-outlined icon">
                            account_balance
                        </span>
                        <span>
                            <h6 class="text-primary">Government Projects</h6>
                            <p>Setting A New Standard
                            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. </p>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Process -->
    <section class="container-md py-5 custom-pad">
        <h4 class="text-primary">Process</h4>
        <p>
            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. We’re using technology to help individuals and organizations exceed expectations. So set your bar high. Think LogiKCo.
        </p> 
        <div class="processes">           
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            cell_merge
                        </span>
                        <span>
                            <h6 class="text-primary">Step 01</h6>
                            <p>Setting A New Standard
                            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. </p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            instant_mix
                        </span>
                        <span>
                            <h6 class="text-primary">Step 02</h6>
                            <p>Setting A New Standard
                            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. </p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            account_balance
                        </span>
                        <span>
                            <h6 class="text-primary">Step 03</h6>
                            <p>Setting A New Standard
                            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. </p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            cell_merge
                        </span>
                        <span>
                            <h6 class="text-primary">Step 04</h6>
                            <p>Setting A New Standard
                            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. </p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            instant_mix
                        </span>
                        <span>
                            <h6 class="text-primary">Step 05</h6>
                            <p>Setting A New Standard
                            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. </p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            account_balance
                        </span>
                        <span>
                            <h6 class="text-primary">Step 06</h6>
                            <p>Setting A New Standard
                            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Banner -->
    <div style="background-color: #F5F5F5;">
        <section class="container-md py-5 custom-pad">
            <h4 class="text-primary">Why Choose Logikco?</h4>
            <p>Want an app to streamline processes, manage data, track performance, dispatch services and goods? Need a secure hosting environment? Integration challenged? We handle everything from Algorithm to Zebibyte. So dream big. Set your bar high. Think LogiKCo.</p>
            <button class="btn btn-primary">Rearn more</button>
        </section>
    </div>

    