@page "/solutions"
<PageTitle>Solutions</PageTitle>

    <!-- Header -->
    <section class="container-fluid header" >
        <h4>solutions</h4>
    </section>
    
    <!-- Content -->
    <section class="container-md custom-pad content">
        <h4>Projects</h4>
        <p>
            It’s about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. We’re using technology to help individuals and organizations exceed expectations. So set your bar high. Think LogiKCo.
        </p>
        <div class="project">
            <div class="row row-cols-1 row-cols-lg-3 ">
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">Project name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                            <a class="btn btn-outline-primary w-100" href="projects">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">Project name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                            <button class="btn btn-outline-primary w-100">Learn more</button>
                        </div>
                    </div>
                </div>
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">Project name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                            <button class="btn btn-outline-primary w-100">Learn more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 ">
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">Project name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                            <button class="btn btn-outline-primary w-100">Learn more</button>
                        </div>
                    </div>
                </div>
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">Project name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                            <button class="btn btn-outline-primary w-100">Learn more</button>
                        </div>
                    </div>
                </div>
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">Project name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                            <button class="btn btn-outline-primary w-100">Learn more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>