@page "/techFeed"

<PageTitle>TechFeed</PageTitle>

<!-- Header -->
<section class="container-fluid header" >
    <h4>tech feed</h4>
</section>

<!-- Content -->
<section class="container-md custom-pad content">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col col-lg-7 mb-md-5">
            <h4>Articles</h4>
            <div class="btn-group w-100 mb-4" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>
                
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>
                
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
            </div>
            <div class="row row-cols-1" style="gap: 1rem;">
                <div class="col techFeed" >
                    <img src="https://picsum.photos/200" alt="...">
                    <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                        <span class="d-flex gap-2">
                            <div class="d-inline-flex gap-1 align-items-center">
                                <span class="material-symbols-outlined icon">schedule</span> 
                                123
                            </div>
                            <div class="d-inline-flex gap-1 align-items-center">
                                <span class="material-symbols-outlined icon">sell</span>   
                                123
                            </div>
                        </span> 
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="articles" class="d-flex align-items-center" style="text-decoration: none;"> 
                            Read more
                            <span class="material-symbols-outlined icon">chevron_right</span>
                        </a>
                    </div>
                
                </div>
                <div class="col techFeed" >
                    <img src="https://picsum.photos/200" alt="...">
                    <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                        <span class="d-flex gap-2">
                            <div class="d-inline-flex gap-1 align-items-center">
                                <span class="material-symbols-outlined icon">schedule</span> 
                                123
                            </div>
                            <div class="d-inline-flex gap-1 align-items-center">
                                <span class="material-symbols-outlined icon">sell</span>   
                                123
                            </div>
                        </span> 
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="articles" class="d-flex align-items-center" style="text-decoration: none;"> 
                            Read more
                            <span class="material-symbols-outlined icon">chevron_right</span>
                        </a>
                    </div>
                
                </div>
            </div>
        </div>
        <div class="col col-lg-1">
        </div>
        <div class="col col-lg-4 d-flex flex-column justify-content-between techFeed-solutions">
            <span class="d-flex justify-content-between">
                <h4>Solutions</h4>
                <a class="btn btn-link" href="/solutions.html">view all</a>
            </span>
            <div class="col custom-img-card" >
                <div class="cus-card-border">
                    <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                    <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                        <h5 class="card-title">Project name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                        <button class="btn btn-outline-primary w-100">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style scoped>
    body{
        background-color: #F5F5F5;
    }
</style>