@page "/articles"

    <!-- Header -->
    <section class="container-md custom-article-pad article-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="techFeed">Tech Feed</a></li>
              <li class="breadcrumb-item active" aria-current="page">Article name</li>
            </ol>
        </nav>
        <h4>tech feed</h4>
        <span class="d-flex gap-2">
            <div class="d-inline-flex gap-1 align-items-center">
                <span class="material-symbols-outlined icon">schedule</span> 
                123
            </div>
            <div class="d-inline-flex gap-1 align-items-center">
                <span class="material-symbols-outlined icon">sell</span>   
                123
            </div>
        </span> 
        <img src="https://picsum.photos/200" alt="..." >
    </section>

    <!-- Content -->
    <section class="container-md custom-article-pad article-content">
        <span>
            <h5>Paragraph title</h5>
            <p>It’s about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. We’re using technology to help individuals and organizations exceed expectations. So set your bar high. Think LogiKCo.</p>
            <br/>
            <p>Lorem ipsum dolor sit amet consectetur. Lacus at mauris fringilla donec sit urna senectus tincidunt bibendum. Elementum pulvinar nulla pharetra habitant at mattis. Vitae risus nulla massa sed euismod ultrices. Integer tristique platea ultrices diam id pellentesque pulvinar duis condimentum. Felis vitae lacinia lectus morbi praesent. Mattis cursus elit tortor proin tellus commodo adipiscing duis faucibus. Felis id aliquam massa turpis commodo tellus tellus. Sapien egestas rhoncus sed arcu. In sed vulputate vestibulum sit morbi varius volutpat.

                Duis viverra ullamcorper amet sed. Senectus id congue ultrices ut dui mauris lectus dolor. Id in laoreet a sit. Ut porta vel congue tempus. Felis viverra nunc accumsan netus libero neque. Sit fames massa vitae quis volutpat dictum enim. Et enim a amet placerat et diam sed mauris mattis. Pharetra tincidunt tristique habitasse sagittis sed ultricies euismod. Enim eu ut eros ac gravida tincidunt amet neque elementum.</p>
        </span>
    </section>

    <!-- More -->
    <div class="container-fluid" style="background-color: #F5F5F5;">
        <section class="container-md custom-pad py-5">
            <h4 style="text-align: center;">More articles</h4>
            <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
                <div class="col custom-img-card" >
                    <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                    <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                        <span class="d-flex gap-2">
                            <div class="d-inline-flex gap-1 align-items-center">
                                <span class="material-symbols-outlined icon">schedule</span> 
                                123
                            </div>
                            <div class="d-inline-flex gap-1 align-items-center">
                                <span class="material-symbols-outlined icon">sell</span>   
                                123
                            </div>
                        </span> 
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/articles" class="align-items-center"> 
                            Read more
                            <span class="material-symbols-outlined icon">chevron_right</span>
                        </a>
                    </div>
                </div>
                <div class="col custom-img-card" style="border-radius: 10px;">
                    <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                    <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                        <span class="d-flex gap-2">
                            <div class="d-inline-flex gap-1 align-items-center">
                                <span class="material-symbols-outlined icon">schedule</span> 
                                123
                            </div>
                            <div class="d-inline-flex gap-1 align-items-center">
                                <span class="material-symbols-outlined icon">sell</span>   
                                123
                            </div>
                        </span> 
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="" class="align-items-center" style=""> 
                            Read more
                            <span class="material-symbols-outlined icon">chevron_right</span>
                        </a>
                    </div>
                </div>
                <div class="col custom-img-card" style="border-radius: 10px !important;">
                    <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                    <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                        <span class="d-flex gap-2">
                            <div class="d-inline-flex gap-1 align-items-center">
                                <span class="material-symbols-outlined icon">schedule</span> 
                                123
                            </div>
                            <div class="d-inline-flex gap-1 align-items-center">
                                <span class="material-symbols-outlined icon">sell</span>   
                                123
                            </div>
                        </span> 
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="" class="align-items-center" style=""> 
                            Read more
                            <span class="material-symbols-outlined icon">chevron_right</span>
                        </a>
                    </div>
                </div>
            </div>
            <a class="d-flex justify-content-center mt-3" href="/techFeed"><button class="btn btn-primary">View more</button></a>
        </section>
    </div>
